<h2><%= @doctor.name %></h2>
<p>
  Department: <%= @doctor.department %>
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>